.popup__save {
    border: 0;
    margin-bottom: 37px;
    margin-top: 48px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    background-color: black;
    color: white;
    height: 50px;
    width: 100%;
  }

@media screen and (max-width: 768px) {
    .popup__save {
        margin-bottom: 25px;
        margin-top: 45px;
        font-size: 14px;
        line-height: 17px;
        height: 46px;
      }
    
}